.DS_Store
Python for scientific development/.ipynb_checkpoints/DataManipulation_with_Numpy_and_Pandas-checkpoint.ipynb
UCI_Adult_Data_Set/.ipynb_checkpoints/Untitled-checkpoint.ipynb
UCI_Adult_Data_Set/.ipynb_checkpoints/UCI_Adult_Data_Set-checkpoint.ipynb
